[submodule "third_party/iree"]
	path = third_party/iree
	url = https://github.com/iree-org/iree.git
[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "third_party/shark_ai"]
	path = third_party/shark_ai
	url = https://github.com/nod-ai/shark-ai.git
[submodule "third_party/saturn_vectors"]
	path = third_party/saturn_vectors
	url = https://github.com/miles-rusch-berkeley/saturn-vectors.git
[submodule "third_party/iree_bar"]
	path = third_party/iree_bar
	url = https://github.com/copparihollmann/iree.git
[submodule "third_party/KernelBench"]
	path = third_party/KernelBench
	url = https://github.com/ScalingIntelligence/KernelBench.git
